#div img{
    height:300px;
    width:400px;
    margin-top:25px;
    margin-left:75px;
}

@media only screen and (min-width:481px) and (max-width:768px){
    #div img{
        height:290px;
        width:290px;
        margin:40px;
            }
}

@media only screen and (min-width:0px) and (max-width:480px){
    #div img{
        height:180px;
        width:200px;
        margin-left:55px;
        display: block;
            }
    
}


