
        .flex-container{
            display:flex;
            border:10px solid chocolate ;
            
              }
        .flex-container>div{
            text-align:center;
            color: white;
            width: 100%;
            height:700px;
            font-size:80px;
            padding-top:20px;
        
        }
        @media only screen and (min-width:0px) and (max-width:480px){
            .flex-container{
            display:flex;
            border:10px solid chocolate ;
            flex-direction: column;
           
              }    
              
            .flex-container>div{
            text-align:center;
            color: white;
            width: 100%;
            height:250px;
            font-size:80px;
            padding-top:20px;
            display: block;
        }
        }

        @media only screen and (min-width:481px) and (max-width:768px){
            .flex-container{
            display:grid;
            border:10px solid chocolate ;
            grid-template-columns:33% 34% 33%;
           
              }    
              
            .flex-container>div{
            text-align:center;
            color: white;
            width: 100%;
            height:300px;
            font-size:80px;
            padding-top:20px;
           
        }
        }
 